@font-face {
    font-family: GothamBook;
    src: url(../fonts/Gotham/GothamBook.ttf);
}

@font-face {
    font-family: GilroyLight;
    src: url(../fonts/Gilroy/Gilroy-Light.otf);
}

body {
    margin: 0;
    font-family: GothamBook;
}

.section {
    padding: 4em 1em 0 1em;
    text-align: center;
}

.section iframe {
    aspect-ratio: 16/9;
    width: 55%;
    /* margin: 4em auto 1em auto; */
}

.bg-gray {
    background-color: #f0f5f5;
}

.nav-arrow {
    margin-top: 1em;
    color: #69be4b;
}

.nav-arrow span {
    font-size: 5em;
    cursor: pointer;
}

.s-title {
    text-transform: uppercase;
    color: #095db7;
    font-weight: bold;
    font-size: 25px;
}

.s-description {
    color: #79858c;
    font-size: 15px;
    margin: 2em 0 4em;
}

.s-description span {
    color: #526069;
    font-weight: bold;
}

.msb-option {
    height: 72px;
    background: #e4eaec 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #00000029;
    border-radius: 11px;
    margin: 2em auto;
    display: flex;
    font-family: "Nunito", sans-serif;
    width: 50%;
}

.msb-option-body {
    padding: 12px 0.5em 12px 2em;
    width: 100%;
    text-align: left;
}

.msb-option-header {
    display: flex;
    justify-content: space-between;
}

.msb-option-title {
    margin-bottom: 4px;
}

.msb-option-title span {
    color: #085cb7;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.msb-option-sub {
    color: #526069;
    font-size: 12px;
}

.msb-bg {
    width: 80px;
    height: 72px;
    text-align: center;
    color: #fff;
}

.msb-bg span {
    font-size: 40px;
    padding: 17px 0 0 0px;
}

.msb-bg-red {
    background-image: url(../images/rosado.svg);
}

.msb-bg-yellow {
    background-image: url(../images/amarillo.svg);
}

.msb-bg-green {
    background-image: url(../images/verde.svg);
}

.btn-container {
    padding: 4em 0;
    display: inline-flex;
}

.green-grad_btn {
    background: transparent linear-gradient(90deg, #03a2b0 0%, #38e47d 100%) 0%
        0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #00000029;
    border-radius: 23px;
    color: #ffffff;
    padding: 7px 10em;
    text-decoration: none;
    font-family: GilroyLight;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    max-width: 604px;
    width: 85%;
    height: fit-content;
    margin: 0px auto;
    padding: 20px;
    text-align: left;
    background-color: #fff;
    transition: all 0.3s ease;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.modal-close {
    position: absolute;
    top: -18px;
    right: -18px;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #526168;
    cursor: pointer;
}

.modal-close span {
    color: #526168;
    font-size: 40px;
    padding: 0px;
    margin: -5px;
}

@media (max-width: 865px) {
    .msb-option {
        width: 100%;
    }
}

@media (max-width: 415px) {
    .green-grad_btn {
        padding: 7px 6em;
    }
    .msb-option {
        width: 100%;
    }
    .msb-option-body {
        padding: 5px 0.5em 12px 0.5em;
    }
    .section iframe {
        width: auto;
    }
    .msb-option-title span {
        font-size: 16px;
    }
    .msb-option-title {
        margin-bottom: 0px;
    }
}
