.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1em;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 21px;
    width: 21px;
    background-color: #edf3fa;
    border-radius: 50%;
    border: 1px solid #cdcdcc;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #eee;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    /* background-color: #2196f3; */
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: transparent linear-gradient(90deg, #03a2b0 0%, #38e47d 100%) 0%
        0% no-repeat padding-box;
}
