<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SAP - Academy</title>
        <link rel="stylesheet" href="./css/cursos.css" />
        <link rel="stylesheet" href="./css/step3-modal.css" />
        <link rel="stylesheet" href="./css/radiobutton.css" />
        <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div id="app">
            <div class="bg-gray cs-container">
                <div class="curso-section">
                    <div class="cs-steps-container">
                        <div class="cs-steps" :class="class_cs_steps">
                            <img src="./images/01.svg" />
                            <img v-if="wizardstep >= 2" src="./images/02.svg" />
                            <img v-else src="./images/02-off.svg" />
                            <img v-if="wizardstep >= 3" src="./images/03.svg" />
                            <img v-else src="./images/03-off.svg" />
                            <img v-if="wizardstep >= 4" src="./images/04.svg" />
                            <img v-else src="./images/04-off.svg" />
                        </div>
                    </div>
                    <div v-show="wizardstep == 1" class="cs-step1">
                        <div class="css1-title">
                            Completa los siguientes datos
                        </div>
                        <div class="cs-row jc-se">
                            <div class="cs-form">
                                <div class="css1-fileupload">
                                    <span class="material-icons-round">
                                        control_point
                                    </span>
                                </div>
                                <div class="acceptedfiles">
                                    600 x 354 px | .jpg y .png
                                </div>
                            </div>
                            <div class="cs-form">
                                <div class="cs-row">
                                    <div class="decoration"></div>
                                    <div class="fi-container">
                                        <input
                                            class="form-input"
                                            type="text"
                                            placeholder="¿Cómo se llama el curso?"
                                        />
                                    </div>
                                </div>
                                <div class="cs-row">
                                    <div class="decoration"></div>
                                    <div class="fi-container">
                                        <select class="form-input">
                                            <option value="0">
                                                ¿A qué módulo lo agregamos?
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="cs-row">
                                    <div class="decoration"></div>
                                    <div class="fi-container">
                                        <select class="form-input">
                                            <option value="0">
                                                ¿A quiénes va dirigido?
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="cs-row">
                                    <div class="decoration"></div>
                                    <div class="fi-container">
                                        <textarea
                                            class="form-input"
                                            cols="30"
                                            rows="10"
                                            placeholder="Agrega una descripción al curso"
                                        ></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-container">
                            <button class="btn-gray">Cancelar</button>
                            <button class="btn-green" @click="wizardstep = 2">
                                Siguiente
                            </button>
                        </div>
                    </div>
                    <div v-show="wizardstep == 2" class="cs-step2">
                        <div class="css2-title">Agrega contenido al curso</div>
                        <div class="css2-contenidos">
                            <div class="msb-option">
                                <div class="msb-bg msb-bg-red">
                                    <span class="material-icons-outlined"
                                        >attach_file</span
                                    >
                                </div>
                                <div class="msb-option-body">
                                    <div class="msb-option-header">
                                        <div class="msb-option-title">
                                            <span>Añade un nombre</span>
                                        </div>
                                    </div>
                                    <div class="css2-hr"></div>
                                    <div class="msb-option-sub">
                                        Archivos permitidos: jpg, png, pdf, ppt,
                                        docs, xls, mp4
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="css2-add-contenido">
                            <div class="css2-addc-btn">
                                <span class="material-icons-outlined">
                                    add_box
                                </span>
                            </div>
                        </div>
                        <div class="css2-step-points">
                            <div class="">
                                <div class="point active"></div>
                                <div class="point"></div>
                                <div class="point"></div>
                                <div class="point"></div>
                            </div>
                        </div>
                        <div class="btn-container">
                            <button class="btn-gray" @click="wizardstep = 1">
                                Atrás
                            </button>
                            <button class="btn-green" @click="wizardstep = 3">
                                Siguiente
                            </button>
                        </div>
                    </div>
                    <div v-show="wizardstep == 3" class="cs-step3">
                        <div class="css3-title">
                            Agrega preguntas a la evaluación
                        </div>
                        <div class="css3-preguntas">
                            <div class="css3p-col-6">
                                <div
                                    v-for="x in range(1, 5)"
                                    class="pregunta"
                                    @click="num_preg = x, toggleModal()"
                                >
                                    <div class="preg-num">{{x}}</div>
                                    <span class="preg-text">
                                        ¿Cuáles son las verduras más verdes que
                                    </span>
                                </div>
                            </div>
                            <div class="css3p-col-6">
                                <div
                                    v-for="x in range(6, 10)"
                                    class="pregunta"
                                    @click="num_preg = x, toggleModal()"
                                >
                                    <div class="preg-num">{{x}}</div>
                                    <span class="preg-text">
                                        ¿Cuáles son las verduras más verdes que
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="css3-hr">
                            * Debes de formular al menos dos preguntas antes de
                            continuar.
                        </div>
                        <div class="btn-container">
                            <button class="btn-gray" @click="wizardstep = 2">
                                Atrás
                            </button>
                            <button class="btn-green" @click="wizardstep = 4">
                                Siguiente
                            </button>
                        </div>
                    </div>
                    <div v-show="wizardstep == 4" class="cs-step4">
                        <div class="css4-title">Agrega ejercicios</div>
                        <div class="css4-ejercicios">
                            <div class="css4-ejercicio">
                                <span class="material-icons"> cancel </span>
                                <div class="ejercicio-title">
                                    <input
                                        type="text"
                                        placeholder="Añade un título al ejercicio"
                                    />
                                </div>
                                <div class="ejercicio-hr"></div>
                                <div class="ejercicio-indicacion">
                                    <textarea
                                        cols="30"
                                        rows="10"
                                        placeholder="Agrega indicaciones al ejercicio..."
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="css4-add-ejercicio">
                            <div class="css4-adde-btn">
                                <span class="material-icons-outlined">
                                    add_box
                                </span>
                            </div>
                        </div>
                        <div class="btn-container">
                            <button class="btn-gray" @click="wizardstep = 3">
                                Atrás
                            </button>
                            <button class="btn-green" @click="">
                                Siguiente
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <modal
                :num_preg="num_preg"
                v-on:toggle-modal="toggleModal"
                v-show="showModal"
            ></modal>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="./js/cursos.js"></script>
    </body>
</html>
